

<div class="container-fluid">
  <section class="acercade">
    <article>
      <app-aboutme></app-aboutme>
    </article>
  </section>

  <section class="educacion">
    <article>
      <app-education-list></app-education-list>
    </article>
  </section>

  <section class="experiencia">
    <article>
      <app-experience-list></app-experience-list>
    </article>
  </section>

  <section class="habilidades">
    <article>
      <app-skills-list></app-skills-list>
    </article>
  </section>

  <section class="proyectos">
    <article>
      <app-projects-list></app-projects-list>
    </article>
  </section>
