.habilidad img{
    width: 50px;
    border-radius: 5px;;
}

.habilidad{
    margin-left: 50px;
    margin-right: 50x;
}

.habilidades{
    text-align: center;

    display: flex;
    align-items: center;
    flex-wrap:wrap;
    justify-content: space-between;
}