
<section class="perfil">
    
    <div class="foto" >
    <img src="../../assets/image/perfil.jpg">
    <h5>Silva Micaela Sol</h5>
    <p>Front End Developer</p>
    </div>

    <div class="resenia" >
        <h4>Acerca de</h4>
        <p>Estudiante del profesorado de Matematica y de la Tecnicatura Universitaria en Desarrollo
            de Aplicaciones Informáticas(Unicen)
            Me encuentro en capacitación en el mundo It, buscando mi primer oportunidad en el rubro,
            y nuevos desafios que me permitan adquirir experiencia.
            Me considero una persona responsable, eficaz y comprometida con lo que hago.
        </p>
    </div>
</section>
