footer{
  text-align: center;
  background-color: #1898e2;
  font-weight: bold;
}

.ejemplo{
  width: 100%;
}

/*
.navbar{
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}*/

.toolbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    background-color: #1898e2;
    color: white;
    font-weight: 600;
  }
  
  //esto es para el icono de argentina programa
.toolbar img {
    margin: 0 16px;
    border-radius: 50%;
    
  }

  .collapse{
    display: flex;
    justify-content: right;
  }

  //cada icono este de color azul
  .nav-link i{
    color: blue;
    border:5px black;
    
  }

 //aca falta poner los iconos de las redes a la derecha
 .navbar ul{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    
    
 }
 
.container-fluid{
  width: 100vw;
  height:100%;
  background-color: rgb(118, 210, 238);
}

.contenedor1{grid-area:area-ejem1}
.contenedor2{grid-area:area-ejem2}

@media only screen and (max-width:600px){ /*esto es para escritorio*/
  .menu{
    display: grid;
        grid-template-areas: 
        "area-contenedor1 area-contenedor1 ";
  }

  .programa{
    display: grid;
        grid-template-areas: 
        "area-contenedor2 area-contenedor2 ";
  }

  
  
}